@page "/contact"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["contactPageTitleStr"]</h1>

<p>@localizer["contactPageLastModStr"]</p>

<span><b>@localizer["contactPageSecondTitleStr"]</b></span>
<br />
<span>@localizer["contactPageFirstParaStr"]</span>

<br />
<br />
<br />

<!-- <p>@localizer["contactPageWelcomeStr"]</p> -->
@code {

}