@page "/"
@inject IStringLocalizer<Resource> localizer

<!-- <PageTitle>Index</PageTitle> -->
<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["indexWelcomeStr"]</h1>

<p>@localizer["indexLastModStr"]</p>

<p>@localizer["indexWelcomeToStr"]</p>

<p>@localizer["indexParaOneStr"]</p>

<p>@localizer["indexParaTwoStr"]</p>

<p>@localizer["IndexParaThreeStr"]</p>

<p>@localizer["IndexParaFourStr"]</p>

@code {

}