@page "/privacypolicy"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["privacyPageTitleStr"]</h1>

<p>@localizer["privacyPageLastModStr"]</p>

<p><b>@localizer["privacyPageEffectiveStr"]</b></p>

<span><b>@localizer["privacyPageTitle2Str"]</b></span>
<br />
<!-- here July 17... -->
<span>@localizer["privacyPagePara1Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara2Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara3Str"]</b></span>
<br />
<span>@localizer["privacyPagePara4Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara5Str"]</b></span>
<br />
<span>@localizer["privacyPagePara6Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara7Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara8Str"]</b></span>
<br />
<span>@localizer["privacyPagePara9Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara10Str"]</b></span>
<br />
<span>@localizer["privacyPagePara11Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara12Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara13Str"]</b></span>
<br />
<span>@localizer["privacyPagePara14Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara15Str"]</b></span>
<br />
<span>@localizer["privacyPagePara16Str"]</span>
<ol>
    <li>@localizer["privacyPagePara17Str"]</li>
    <li>@localizer["privacyPagePara18Str"]</li>
    <li>@localizer["privacyPagePara19Str"]</li>
    <li>@localizer["privacyPagePara20Str"]</li>
    <li>@localizer["privacyPagePara21Str"]</li>
</ol>

<span>@localizer["privacyPagePara22Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara23Str"]</b></span>
<br />
<span>@localizer["privacyPagePara24Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara25Str"]</b></span>
<br />
<span>@localizer["privacyPagePara26Str"]</span>
<ol>
    <li>@localizer["privacyPagePara27Str"]</li>
    <li>@localizer["privacyPagePara28Str"]</li>
    <li>@localizer["privacyPagePara29Str"]</li>
</ol>

<span>@localizer["privacyPagePara30Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara31Str"]</b></span>
<br />
<span>@localizer["privacyPagePara32Str"]</span>
<ol>
    <li>@localizer["privacyPagePara33Str"]</li>
    <li>@localizer["privacyPagePara34Str"]</li>
    <li>@localizer["privacyPagePara35Str"]</li>
    <li>@localizer["privacyPagePara36Str"]</li>
</ol>

<span><b>@localizer["privacyPagePara37Str"]</b></span>
<br />
<span>@localizer["privacyPagePara38Str"]</span>
<ol>
    <li>@localizer["privacyPagePara39Str"]</li>
    <li>@localizer["privacyPagePara40Str"]</li>
    <li>@localizer["privacyPagePara41Str"]</li>
    <li>@localizer["privacyPagePara42Str"]</li>
    <li>@localizer["privacyPagePara43Str"]</li>
</ol>

<span><b>@localizer["privacyPagePara44Str"]</b></span>
<br />
<span>@localizer["privacyPagePara45Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara46Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara47Str"]</b></span>
<br />
<span>@localizer["privacyPagePara48Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara49Str"]</b></span>
<br />
<span>@localizer["privacyPagePara50Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara51Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara52Str"]</b></span>
<br />
<span>@localizer["privacyPagePara53Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara54Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara55Str"]</b></span>
<br />
<span>@localizer["privacyPagePara56Str"]</span>
<ol>
    <li>@localizer["privacyPagePara57Str"]</li>
    <li>@localizer["privacyPagePara58Str"]</li>
    <li>@localizer["privacyPagePara59Str"]</li>
    <li>@localizer["privacyPagePara60Str"]</li>
    <li>@localizer["privacyPagePara61Str"]</li>
    <li>@localizer["privacyPagePara62Str"]</li>
    <li>@localizer["privacyPagePara63Str"]</li>
    <li>@localizer["privacyPagePara64Str"]</li>
    <li>@localizer["privacyPagePara65Str"]</li>
    <li>@localizer["privacyPagePara66Str"]</li>
</ol>
<span>@localizer["privacyPagePara67Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara68Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara69Str"]</b></span>
<br />
<span>@localizer["privacyPagePara70Str"]</span>
<br />
<br />
<span>@localizer["privacyPagePara71Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara72Str"]</b></span>
<br />
<span>@localizer["privacyPagePara73Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara74Str"]</b></span>
<br />
<span>@localizer["privacyPagePara75Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara76Str"]</b></span>
<br />
<span>@localizer["privacyPagePara77Str"]</span>

<br />
<br />
<span><b>@localizer["privacyPagePara78Str"]</b></span>
<br />
<span>@localizer["privacyPagePara79Str"]</span>

<br />
<br />
<br />

@code {

}