@page "/siteLicensePage"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<!-- SiteLicensePage -->
<h1>@localizer["licenseTitlePageStr"]</h1>

<p>@localizer["licensePageLastModStr"]</p>

<p><b>@localizer["licenseEffectiveDateStr"]</b></p>

<p>@localizer["licenseLanguageClarifyStr"]</p>

<p>@localizer["licenseParagraph1Str"]</p>

<p>@localizer["licenseParagraph2Str"]</p>

<p>@localizer["licenseParagraph3Str"]</p>

<p>@localizer["licenseParagraph4Str"]</p>

<p>@localizer["licenseParagraph5Str"]</p>

<p>@localizer["licenseParagraph6Str"]</p>

<p>@localizer["licenseParagraph7Str"]</p>

<br />
<br />
<br />

@code {

}
