@page "/tacPage"
@inject IStringLocalizer<Resource> localizer

<!-- <h3>TermAndCondPage</h3> -->
<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["TaConTitlePageStr"]</h1>

<p>@localizer["TaConPageLastModStr"]</p>

<p><b>@localizer["TaConPageEffectiveStr"]</b></p>

<span><b>@localizer["TaConPageTitle2Str"]</b></span>
<br />
<span>@localizer["TaConPagePara1Str"]</span>
<br />
<br />
<span>@localizer["TaConPagePara2Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara3Str"]</b></span>

<br />
<br />
<span><b>@localizer["TaConPagePara4Str"]</b></span>
<br />
<span>@localizer["TaConPagePara5Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara6Str"]</b></span>
<br />
<span>@localizer["TaConPagePara7Str"]</span>
<br />
<br />
<span>@localizer["TaConPagePara8Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara9Str"]</b></span>
<br />
<span>@localizer["TaConPagePara10Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara11Str"]</b></span>
<br />
<span>@localizer["TaConPagePara12Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara13Str"]</b></span>
<br />
<span>@localizer["TaConPagePara14Str"]</span>
<ol>
    <li>@localizer["TaConPagePara15Str"]</li>
    <li>@localizer["TaConPagePara16Str"]</li>
    <li>@localizer["TaConPagePara17Str"]</li>
    <li>@localizer["TaConPagePara18Str"]</li>
    <li>@localizer["TaConPagePara19Str"]</li>
    <li>@localizer["TaConPagePara20Str"]</li>
</ol>

<span>@localizer["TaConPagePara21Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara22Str"]</b></span>
<br />
<span>@localizer["TaConPagePara23Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara24Str"]</b></span>
<br />
<span>@localizer["TaConPagePara25Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara26Str"]</b></span>
<br />
<span>@localizer["TaConPagePara27Str"]</span>
<br />
<br />
<span>@localizer["TaConPagePara28Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara29Str"]</b></span>
<br />
<span>@localizer["TaConPagePara30Str"]</span>

<br />
<br />
<span><b>@localizer["TaConPagePara31Str"]</b></span>
<br />
<span>@localizer["TaConPagePara32Str"]</span>

<br />
<br />
<br />

@code {

}
