@inject IStringLocalizer<Resource> localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="">myblazorapp</a> -->
        <!-- <a class="navbar-brand" href="">GustafU233C's GH Pages</a> -->
        <!-- https://techcommunity.microsoft.com/t5/web-development/convert-the-standard-blazor-navigation-menu-to-a-collapsible/m-p/3753268 -->
        <span class="oi oi-monitor" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">GustafU233C's GH Pages</a>
            <!-- <span class="oi oi-monitor" aria-hidden="true" style="color: white;">GustafU233C</span> -->
        }
        else
        {   
            <!-- <span class="oi oi-monitor" style="color:white;"></span> -->
            <!-- <a class="navbar-brand" href=""></a> -->
            <!-- <span class="oi oi-monitor" aria-hidden="true" style="color: white;"></span> -->
            <!-- <span class="oi oi-monitor" aria-hidden="true" style="color: white;"></span> -->
            <!-- <a class="navbar-brand" href=""></a> -->
        }
        <button type="button" style="cursor:pointer" title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable"> <!-- @onclick="ToggleNavMenu"> -->
    <nav class="flex-column">
        <!-- Menu Expand... -->
        <div class="nav-item px-3" @onclick="ToggleIconMenu">
            <NavLink class="nav-link" style="cursor:pointer">
                <!-- <span class="oi oi-menu" aria-hidden="true"></span> @localizer["navBarMenuExpandStr"] -->
                <!-- https://techcommunity.microsoft.com/t5/web-development/convert-the-standard-blazor-navigation-menu-to-a-collapsible/m-p/3753268 -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-menu" aria-hidden="true" style="color: white;"></span> @localizer["navBarMenuExpandStr"]
                }
                else
                {
                    <span class="oi oi-menu" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
        </div>

        <!-- Home... -->
        <div class="nav-item px-3">
            <!-- Original home page link... defunct... -->
            <!--
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">
                    <RadzenIcon Icon="home" />
                </span> @localizer["navBarHomeStr"]
            </NavLink>
            -->

            <!-- https://www.appstudio.dev/app/OpenIconic.html -->
            <NavLink class="nav-link" style="cursor:pointer" href="" Match="NavLinkMatch.All">
                <!-- <span class="oi oi-home" aria-hidden="true"></span> @localizer["navBarHomeStr"] -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-home" aria-hidden="true" style="color: white;"></span> @localizer["navBarHomeStr"]
                }
                else
                {
                    <span class="oi oi-home" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" href="about">
                <!-- <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarAboutStr"] -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span> @localizer["navBarAboutStr"]
                }
                else
                {
                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandLegalAffairsSubNav=!expandLegalAffairsSubNav">
                <!-- <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarLegalAffairsStr"] -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span> @localizer["navBarLegalAffairsStr"]
                }
                else
                {
                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
            @if (expandLegalAffairsSubNav)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" href="privacypolicy">
                        <!-- <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarPrivacyPolicyStr"] -->
                        @if (!@IconMenuActive)
                        {
                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span> @localizer["navBarPrivacyPolicyStr"]
                        }
                        else
                        {
                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span>
                        }
                    </NavLink>
                </div>

                <!-- EULA link for website, defunct... -->
                <!--
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="eulaPage">
                        <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarEulaStr"]
                    </NavLink>
                </div>
                -->

                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" href="tacPage">
                        <!-- <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarTaConStr"] -->
                        @if (!@IconMenuActive)
                        {
                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span> @localizer["navBarTaConStr"]
                        }
                        else
                        {
                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span>
                        }
                    </NavLink>
                </div>

                <!-- TOS defunct page...-->
                <!--
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tosPage">
                        <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarToServePageStr"]
                    </NavLink>
                </div>
                -->

                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" href="siteLicensePage">
                        <!--<span class="oi oi-link-intact" aria-hidden="true"></span> @localizer["navBarLicenseStr"] -->
                        @if (!@IconMenuActive)
                        {
                            <span class="oi oi-link-intact" aria-hidden="true" style="color: white;"></span> @localizer["navBarLicenseStr"]
                        }
                        else
                        {
                            <span class="oi oi-link-intact" aria-hidden="true" style="color: white;"></span>
                        }
                    </NavLink>
                </div>
            }
        </div>

        <!-- Project Sub Navigation... -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProjectsSubNav=!expandProjectsSubNav">
                <!-- <span class="oi oi-book" aria-hidden="true"></span> @localizer["navBarProjectsStr"] -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-book" aria-hidden="true" style="color: white;"></span> @localizer["navBarProjectsStr"]
                }
                else
                {
                    <span class="oi oi-book" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
            @if (expandProjectsSubNav)
            {
                <!-- Project 1... -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject1SubNav=!expandProject1SubNav">
                        <!-- <span class="oi oi-cog" aria-hidden="true"></span> @localizer["navBarProjectOneStr"] -->
                        @if (!@IconMenuActive)
                        {
                            <span class="oi oi-cog" aria-hidden="true" style="color: white;"></span> @localizer["navBarProjectOneStr"]
                        }
                        else
                        {
                            <span class="oi oi-cog" aria-hidden="true" style="color: white;"></span>
                        }
                    </NavLink>
                    @if (expandProject1SubNav)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" href="proj1About">
                                <!-- <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarProjOneAboutStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span> @localizer["navBarProjOneAboutStr"]
                                }
                                else
                                {
                                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject1LegalAffSubNav=!expandProject1LegalAffSubNav">
                                <!-- <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavStr"]
                                }
                                else
                                {
                                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                            @if (expandProject1LegalAffSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1privacypolicy">
                                        <!-- <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1Eula">
                                        <!-- <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-document" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-document" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1TandCon">
                                        <!-- <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1TofServe">
                                        <!-- https://techcommunity.microsoft.com/t5/web-development/convert-the-standard-blazor-navigation-menu-to-a-collapsible/m-p/3753268 -->
                                        <!-- <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-list" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-list" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                            }
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject1HowToSubNav=!expandProject1HowToSubNav">
                                <!-- <span class="oi oi-map" aria-hidden="true"></span> @localizer["navBarProj1HowToSubNavStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-map" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj1HowToSubNavStr"]
                                }
                                else
                                {
                                    <span class="oi oi-map" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                            @if (expandProject1HowToSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1HowToGenerallySubNavStr">
                                        <!-- <span class="oi oi-map-marker" aria-hidden="true"></span> @localizer["navBarProj1HowToGenerallySubNavStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-map-marker" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj1HowToGenerallySubNavStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-map-marker" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                            }
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject1CommonProbsSubNav=!expandProject1CommonProbsSubNav">
                                <!-- <span class="oi oi-signpost" aria-hidden="true"></span> @localizer["navBarProj1CommonProbsSubNavStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-signpost" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj1CommonProbsSubNavStr"]
                                }
                                else
                                {
                                    <span class="oi oi-signpost" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                            @if (expandProject1CommonProbsSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1CommonProbsUtf8SubNavStr">
                                        <!-- <span class="oi oi-bug" aria-hidden="true"></span> @localizer["navBarProj1CommonProbsUTF8SubNavStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-bug" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj1CommonProbsUTF8SubNavStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-bug" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                            }
                        </div>

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject1OpenPackagesSubNav=!expandProject1OpenPackagesSubNav">
                                <!-- <span class="oi oi-box" aria-hidden="true"></span> @localizer["navBarProj1OpenPackagesSubNavStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-box" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj1OpenPackagesSubNavStr"]
                                }
                                else
                                {
                                    <span class="oi oi-box" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                            @if (expandProject1OpenPackagesSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj1OpenPackages1SubNavStr">
                                        <!-- <span class="oi oi-basket" aria-hidden="true"></span> @localizer["navBarProj1OpenPackages1SubNavStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-basket" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj1OpenPackages1SubNavStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-basket" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                            }
                        </div>
                    }
                </div>

                <!-- Project 2... -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject2SubNav=!expandProject2SubNav">
                        <!-- <span class="oi oi-fork" aria-hidden="true"></span> @localizer["navBarProjectTwoStr"] -->
                        @if (!@IconMenuActive)
                        {
                            <span class="oi oi-fork" aria-hidden="true" style="color: white;"></span> @localizer["navBarProjectTwoStr"]
                        }
                        else
                        {
                            <span class="oi oi-fork" aria-hidden="true" style="color: white;"></span>
                        }
                    </NavLink>
                    @if (expandProject2SubNav)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" href="proj2About">
                                <!-- <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarProj2AboutStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj2AboutStr"]
                                }
                                else
                                {
                                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject2LegalAffSubNav=!expandProject2LegalAffSubNav">
                                <!-- <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavStr"]
                                }
                                else
                                {
                                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                            @if (expandProject2LegalAffSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj2privacypolicy">
                                        <!-- <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj2Eula">
                                        <!-- <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-document" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-document" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj2TandCon">
                                        <!-- <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj2TofServe">
                                        <!-- <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-list" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-list" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                            }
                        </div>
                    }
                </div>

                <!-- Project 3... -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject3SubNav=!expandProject3SubNav">
                        <!-- <span class="oi oi-terminal" aria-hidden="true"></span> @localizer["navBarProjectThreeStr"] -->
                        @if (!@IconMenuActive)
                        {
                            <span class="oi oi-terminal" aria-hidden="true" style="color: white;"></span> @localizer["navBarProjectThreeStr"]
                        }
                        else
                        {
                            <span class="oi oi-terminal" aria-hidden="true" style="color: white;"></span>
                        }
                    </NavLink>
                    @if (expandProject3SubNav) 
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" href="proj3About">
                                <!-- <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarProj3AboutStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3AboutStr"]
                                }
                                else
                                {
                                    <span class="oi oi-info" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject3LegalAffSubNav=!expandProject3LegalAffSubNav">
                                <!-- <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavStr"] -->
                                @if (!@IconMenuActive)
                                {
                                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavStr"]
                                }
                                else
                                {
                                    <span class="oi oi-briefcase" aria-hidden="true" style="color: white;"></span>
                                }
                            </NavLink>
                            @if (expandProject3LegalAffSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj3privacypolicy">
                                        <!-- <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-file" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj3Eula">
                                        <!-- <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-document" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-document" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj3TandCon">
                                        <!-- <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-align-left" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" style="cursor:pointer" href="proj3TofServe">
                                        <!-- <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"] -->
                                        @if (!@IconMenuActive)
                                        {
                                            <span class="oi oi-list" aria-hidden="true" style="color: white;"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"]
                                        }
                                        else
                                        {
                                            <span class="oi oi-list" aria-hidden="true" style="color: white;"></span>
                                        }
                                    </NavLink>
                                </div>
                            }
                        </div>
                    }
                </div>

                <!-- Project 4... Defunct for now... -->
                <!--
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="project4">
                        <span class="oi oi-terminal" aria-hidden="true"></span> @localizer["navBarProject4Str"]
                    </NavLink>
                </div>
                -->
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" href="contact">
                <!-- <span class="oi oi-phone" aria-hidden="true"></span> @localizer["navBarContactStr"] -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-phone" aria-hidden="true" style="color: white;"></span> @localizer["navBarContactStr"]
                }
                else
                {
                    <span class="oi oi-phone" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" href="donate">
                <!-- <span class="oi oi-dollar" aria-hidden="true"></span> @localizer["navBarDonateStr"] -->
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-dollar" aria-hidden="true" style="color: white;"></span> @localizer["navBarDonateStr"]
                }
                else
                {
                    <span class="oi oi-dollar" aria-hidden="true" style="color: white;"></span>
                }
            </NavLink>
        </div>

        <!-- Bottom Row... defunct...-->
        <!--
        <div class="bottom-row">
            <div class="icon-menu-arrow">
                @if (!@IconMenuActive)
                {
                    <span class="oi oi-menu" aria-hidden="true" style="color: white;" @onclick="ToggleIconMenu"></span>
                }
                else
                {
                    <span class="oi oi-menu" aria-hidden="true" style="color: white;" @onclick="ToggleIconMenu"></span>
                }
            </div>
        </div>
        -->
    </nav>
</div>



@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text...
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout...
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandLegalAffairsSubNav = false;

    private bool expandProjectsSubNav = false;

    private bool expandProject1SubNav = false;
    private bool expandProject1LegalAffSubNav = false;
    private bool expandProject1HowToSubNav = false;
    private bool expandProject1CommonProbsSubNav = false;
    private bool expandProject1OpenPackagesSubNav = false;

    private bool expandProject2SubNav = false;
    private bool expandProject2LegalAffSubNav = false;
    private bool expandProject2PackagesSubNav = false;

    private bool expandProjects3SubNav = false;
    private bool expandProject3SubNav = false;
    private bool expandProject3LegalAffSubNav = false;
    private bool expandProject3PackagesSubNav = false;

    private bool navMenuExpanded = false;
    private bool subMenuExpanded = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback...
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}
