@inject IStringLocalizer<Resource> localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="">myblazorapp</a> -->
        <a class="navbar-brand" href="">GustafU233C's GH Pages</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <!--
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">
                    <RadzenIcon Icon="home" />
                </span> @localizer["navBarHomeStr"]
            </NavLink>
            -->
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @localizer["navBarHomeStr"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarAboutStr"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandLegalAffairsSubNav=!expandLegalAffairsSubNav">
                <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarLegalAffairsStr"]
            </NavLink>
            @if (expandLegalAffairsSubNav)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="privacypolicy">
                        <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarPrivacyPolicyStr"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="eulaPage">
                        <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarEulaStr"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tacPage">
                        <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarTaConStr"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tosPage">
                        <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarToServePageStr"]
                    </NavLink>
                </div>
            }
        </div>

        <!-- Project Sub Navigation -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProjectsSubNav=!expandProjectsSubNav">
                <span class="oi oi-book" aria-hidden="true"></span> @localizer["navBarProjectsStr"]
            </NavLink>
            @if (expandProjectsSubNav)
            {
                <!-- Project 1 -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="project1">
                        <span class="oi oi-flash" aria-hidden="true"></span> @localizer["navBarProjectOneStr"]
                    </NavLink>
                </div>

                <!-- Project 2 -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject2SubNav=!expandProject2SubNav">
                        <span class="oi oi-fork" aria-hidden="true"></span> @localizer["navBarProjectTwoStr"]
                    </NavLink>
                    @if (expandProject2SubNav)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="proj2About">
                                <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarProj2AboutStr"]
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject2LegalAffSubNav=!expandProject2LegalAffSubNav">
                                <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavStr"]
                            </NavLink>
                            @if (expandProject2LegalAffSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj2privacypolicy">
                                        <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"]
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj2Eula">
                                        <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"]
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj2TandCon">
                                        <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"]
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj2TofServe">
                                        <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"]
                                    </NavLink>
                                </div>
                            }
                        </div>
                    }
                </div>

                <!-- Project 3 -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject3SubNav=!expandProject3SubNav">
                        <span class="oi oi-fork" aria-hidden="true"></span> @localizer["navBarProjectThreeStr"]
                    </NavLink>
                    @if (expandProject3SubNav) 
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="proj3About">
                                <span class="oi oi-info" aria-hidden="true"></span> @localizer["navBarProj3AboutStr"]
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandProject3LegalAffSubNav=!expandProject3LegalAffSubNav">
                                <span class="oi oi-briefcase" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavStr"]
                            </NavLink>
                            @if (expandProject3LegalAffSubNav)
                            {
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj3privacypolicy">
                                        <span class="oi oi-file" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavPrivacyStr"]
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj3Eula">
                                        <span class="oi oi-document" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavEulaStr"]
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj3TandCon">
                                        <span class="oi oi-align-left" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTandConStr"]
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="proj3TofServe">
                                        <span class="oi oi-list" aria-hidden="true"></span> @localizer["navBarProj3LegalAffSubNavTofServeStr"]
                                    </NavLink>
                                </div>
                            }
                        </div>
                    }
                </div>

                <!-- Project 4 -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="project4">
                        <span class="oi oi-terminal" aria-hidden="true"></span> @localizer["navBarProject4Str"]
                    </NavLink>
                </div>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-phone" aria-hidden="true"></span> @localizer["navBarContactStr"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donate">
                <span class="oi oi-dollar" aria-hidden="true"></span> @localizer["navBarDonateStr"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandLegalAffairsSubNav = false;

    private bool expandProjectsSubNav = false;

    private bool expandProject2SubNav = false;
    private bool expandProject2LegalAffSubNav = false;
    private bool expandProject2PackagesSubNav = false;

    private bool expandProjects3SubNav = false;
    private bool expandProject3SubNav = false;
    private bool expandProject3LegalAffSubNav = false;
    private bool expandProject3PackagesSubNav = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
