@inject IStringLocalizer<Resource> localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="">myblazorapp</a> -->
        <a class="navbar-brand" href="">GustafU233C's GH Pages</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">
                    <RadzenIcon Icon="home" />
                </span> @localizer["navBarHomeStr"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="material-icons">
                    <RadzenIcon Icon="info" />
                </span> @localizer["navBarAboutStr"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="()=>expandSubNav=!expandSubNav">
                <span class="material-icons">
                    <RadzenIcon Icon="policy" />
                </span> @localizer["navBarLegalAffairsStr"]
            </NavLink>
            @if (expandSubNav)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="privacypolicy">
                        <span class="material-icons">
                            <RadzenIcon Icon="privacy_tip" />
                        </span> @localizer["navBarPrivacyPolicyStr"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="eulaPage">
                        <span class="material-icons">
                            <RadzenIcon Icon="text_snippet" />
                        </span> @localizer["navBarEulaStr"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tacPage">
                        <span class="material-icons">
                            <RadzenIcon Icon="list_alt" />
                        </span> @localizer["navBarTaConStr"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tosPage">
                        <span class="material-icons">
                            <RadzenIcon Icon="checklist" />
                        </span> @localizer["navBarToServePageStr"]
                    </NavLink>
                </div>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="material-icons">
                    <RadzenIcon Icon="contact_page" />
                </span> @localizer["navBarContactStr"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donate">
                <span class="material-icons">
                    <RadzenIcon Icon="paid" />
                </span> @localizer["navBarDonateStr"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
